### General ###
*.pptx
*.bat
*.xlsx
*.7z
*.pdf
*.png
*.csv
*.dat

### R files ###
.Rhistory
*.RData
*.Rproj

### LaTeX files ###
*.tex
*.rnw
*.log
*.bbl
*.synctex.gz

### Miscelaneous ###
.Rproj.user
Animations/
Revision2981/
